{% extends 'base.html' %}

{% block title %}
Добавление записи:
{% endblock %}
{% block content %}
<h1>Добавление записи:</h1>

<form method="post" class="form-control">
    <input type="text" name="name_nko" placeholder="Введите название нко:"  class="form-control"><br>
    <input type="text" name="activity" placeholder="Расскажите чем занимается нко:"  class="form-control"><br>
    <input type="text" name="contact_phone" placeholder="Укажите контактный номер для связи с нко:"  class="form-control"><br>
    <input type="text" name="location" placeholder="Укажите адрес нко:"  class="form-control"><br>
    <input type="text" name="Photo_logo" placeholder="Прикрепити фотографии и видео связанные с нко:"  class="form-control"><br>
    <input type="text" name="links" placeholder="Поделитесь ссылкой на нко:"  class="form-control"><br>
    <button class="btn btn-success" type="submit">Добавить</button>
</form>
{% endblock %}